body {
    font-family: "Montserrat", "Arial", sans-serif;
    position: relative;
    width: 1400px;
    height: 5372px;

    background: #EFE6E4;
}

footer {
    font-family: "Montserrat", "Arial", sans-serif;
    position: absolute;
    width: 1200px;
    height: 30px;
    left: 100px;
    top: 5305px;

}

.main {
    background-image: url(img/header/background-main.jpg);
    position: absolute;
    width: 1400px;
    height: 715px;
    left: 300px;
    top: 0px;
   
}

.main-help {
    position: absolute;
    width: 534.02px;
    height: 186px;
    left: 184.08px;
    top: 152px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 62px;
    
    color: #533738;

    
}

.main-help-description {
    position: absolute;
    width: 493.57px;
    height: 90px;
    left: 184.08px;
    top: 362px;

    /* Основной текст */

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */


    color: #533738;
}

.button-request {
    width: 309.14px;
    height: 74px;
    position: absolute;
    left: 182px;
    top: 473px;
   
    background: #CC8B86;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-request {
    position: absolute;
    width: 175.35px;
    height: 25px;
    left: 67.91px;
    top: 25px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #533738;
}

.about-us {
    position: absolute;
    width: 1400px;
    height: 849px;
    left: 0px;
    top: 780px;

}

.portfolio {
    position: absolute;
    width: 1200px;
    height: 1099px;
    left: 100px;
    top: 1694px;
}

.team {
    position: absolute;
    width: 1399px;
    height: 998px;
    left: 1px;
    top: 2858px;
    background: #E2C4BA;
}

.reviews {
    position: absolute;
    width: 1036px;
    height: 658px;
    left: 182px;
    top: 3921px;

}

.request {
    position: absolute;
    width: 1400px;
    height: 624px;
    left: 1px;
    top: 4644px;

    background: #8D7370;
}

ul li {
    list-style-type: none;
}

.logo li {
    position: absolute;
    width: 25.34px;
    height: 25px;
    left: 98.32px;
    top: 36px;

}

.name li {
    position: absolute;
    width: 64.87px;
    height: 20px;
    left: 124px;
    top: 38px;

    font-family: "Montserrat", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;



    color: #533738;
}

nav ul li {
    display: inline;
}